<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Person Delete</title>
</head>
<body>

    <h1>Person Delete Teste</h1>
    <h2>Pessoa Delete</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>Tem certeza que deseja deletar "{{ object }}" ?</p>
        <input type="submit" value="Confirm" />
    </form>
</body>
</html>